body
{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 12px;
	color:#222;


}

.input
{
	width: 95%;
	padding:10px;
	font-family: sans-serif;
	font-size: 12px;
	color:#222;	
}


.chatWindow
{
	height:600px;
	width:100%;
	border:1px #ddd solid;
	background:#eee;
	
}

.chatHolder
{    overflow: scroll!important;
	height:500px;
	width:100%;
	border:1px #ccc solid;
	background:#fff;
	
}	
